#### Bootloader
choice BOOTLOADER
	default BOOTLOADER_MCUBOOT
endchoice

if BOOTLOADER_MCUBOOT

config PM_OVERRIDE_EXTERNAL_DRIVER_CHECK
	default y

# MCUboot padding size
config PM_MCUBOOT_PAD
	default 0x800

endif # BOOTLOADER_MCUBOOT

source "share/sysbuild/Kconfig"
