config APP_TEMPERATURE_MONITORING
	bool "Enable internal temperature monitoring"
	default y
	select SENSOR
	help
	  Enable internal die temperature sensor monitoring.

config APP_MEASUREMENT_INTERVAL_SEC
	int "Measurement interval (seconds)"
	default 300
	help
	  Time between periodic measurements. Device sleeps between readings.


config SHT4X_USE_HEATER
	bool "Use the built-in heater on the SHT4X for increased accuracy at high RH levels"
	default y
	help
	  Maximum duty cycle for using the heater is 5%

config SHT4X_HEATER_HUMIDITY_THRESH
	int "RH [%] threshold above which the heater will be activated"
	range 0 99
	default 65
	depends on SHT4X_USE_HEATER

config SHT4X_HEATER_PULSE_POWER
	int "Heater Power Setting"
	range 0 2
	default 2
	depends on SHT4X_USE_HEATER
	help
	  0 -> High power heater pulse -> ~200 mW  @3.3V
	  1 -> Medium power heater pulse -> ~110 mW  @3.3V
	  2 -> Low power heater pulse -> ~20 mW  @3.3V

config SHT4X_HEATER_LONG_PULSE_DURATION
	bool "Use long pulse duration Heater setting"
	default y
	depends on SHT4X_USE_HEATER
	help
	  Say 'Y' if you want to use the long pulse duration setting. This sets the pulse time to
	  1.1s. Say 'N' if you want to use the short pulse duration setting, which sets the pulse
	  time to 0.11s.

if OPENTHREAD

choice OPENTHREAD_NORDIC_LIBRARY_CONFIGURATION
	default OPENTHREAD_NORDIC_LIBRARY_MTD
endchoice

choice OPENTHREAD_DEVICE_TYPE
	default OPENTHREAD_MTD
endchoice

endif # OPENTHREAD

source "${ZEPHYR_CONNECTEDHOMEIP_MODULE_DIR}/config/nrfconnect/chip-module/Kconfig.features"
source "${ZEPHYR_CONNECTEDHOMEIP_MODULE_DIR}/config/nrfconnect/chip-module/Kconfig.defaults"
source "Kconfig.zephyr"
